body {
    background-color: white;
    color: #001D00;
    font-family: 'Work Sans';
    margin: 0% 25% 5% 25%;
}


#title {
    /* font-size: 7.5rem; */
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: #003200;
}

h2 {
    font-weight: bold;
}

p {
    line-height: 150%;
}

address {
    font-style: normal;
    font-size: large;
    font-weight: 600;
}

hr {
    border: 5px solid #003200;
    border-radius: 10px;
}

