body {
    background-color: white;
    color: #001D00;
    font-family: 'Work Sans';
    margin: 0;
}

/* HEAD  */

.header-div {
    background-color: #004900;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.header-author {
    max-width: 900px;
    margin: auto;
}


#title {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: white;
    margin-bottom: 0;
}

/* BODY */

.body-div {
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
}

span {
    font-weight: bold;
}

.r-letter {
    font-size: 3rem;
}

.original-blockquote {
    color: #004900;
    line-height: 150%;
    font-size: 1.15rem;
    display: inline-block;
    border: 5px solid #004900;
    border-radius: .625rem;
    padding: 1rem 4rem 1rem 4rem;
    margin: 0;
    border-radius: 10px 100px 10px 100px ;
}

.original-blockquote > p {
    margin: .5rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}


p {
    line-height: 150%;
    font-size: 1.25em;
}

.large-quote{
    font-size: 2rem;
}

.author {
    font-style: normal;
    font-weight: 600;
    color: white;
}

.response-blockquote {
    font-weight: bold;
    font-size: 1.5rem;
    color: #004900;
    margin: 2rem 4rem 2rem 4rem;
}


hr {
    border: 3px solid #004900;
    border-radius: .625rem;
}

.article-title-div {
    width: 25%;
    float: left;
}
.article-title-div > h2 {
    padding: 0;
    margin: 0;
}

.article-body-div {
    width: 75%;
    float: left;
}

.article-body-div > p {
    margin-top: 0;
}

/* FOOTER */

footer {
    margin: 2rem 0rem 2rem 0rem;
}

.excerpt-link {
    color: #001D00;
}

.time-div {
    margin-top: 3rem;
}

.excerpt-div {
    margin-top: .5rem;
}
